<%
=begin%>
 Malyk Ratelle, le 18 octobre 2023  
<%
=end%>

<body style="padding:4px;text-align:center;">

    <h1> List of businesses ADMIN </h1>
    <hr/>

    <% for business in @businesses %>

        <h4 style="padding:2px;">
            <%= link_to business.name, admin_business_path(business.id) %>
            [ index: <%= business.id %> ]
        </h4>

        <hr width=25% />
    <% end %>
</body>