<%
=begin%>
 Malyk Ratelle, le 1 novembre 2023  
<%
=end%>

<body style="padding:4px;text-align:center;">
    <h1> List of all MY businesses </h1>
    <%= link_to "Go back to all menus", root_path %>
    <hr/>

    <% for business in @businesses %>

        <h4 style="padding:2px;">
            <%= link_to business.name, monmenu_path(business.id) %>
        </h4>

        <hr width=25% />
    <% end %>
</body>